# Idea project settings
.idea/artifacts
.idea/copyright
.idea/dictionaries
.idea/libraries
.idea/scopes
.idea/shelf
.idea/.name
.idea/compiler.xml
.idea/jenkinsSettings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
dataSources.local.xml
*.iml

target
logs

dependency-reduced-pom.xml
